<h1>Liste de Pokémons !</h1>
<input #input (keyup.enter)="selectPokemon(input.value)" type="number" />
<p *ngIf="pokemonSelected">
	Vous avez sélectionné le pokemon: {{ pokemonSelected?.name}}
</p>
<p *ngIf="!pokemonSelected">

	Aucun pokémon n'a été trouvé
</p>
<p *ngFor="let pokemon of pokemonList">
	{{ pokemon.name }}

</p>
<div class="container ">
	<div class="row">
		<div *ngFor="let pokemon of pokemonList" class="col l4 s4 m4">
			<ul class="collection z-depth-3">
				<li class=" ">
					<img [src]="pokemon.picture" alt="" class="left">

					<div class="container-text-pokemon">
						<h5 class="text-pokemon">{{pokemon.name}}</h5>
						<p class="text-pokemon">
							{{pokemon.created}}
						</p>
					</div>
			</ul>

		</div>
	</div>

</div>